/* import main font */
@import 'tailwindcss';
@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhai+2:wght@400;700&display=swap');

@source "./**/*.{js,jsx,ts,tsx}";
@source "../index.html";

@utility table-head-cell {
  padding-inline: --spacing(6);
  padding-block: --spacing(5);
};

@utility table-body-cell {
  padding-inline: --spacing(6);
  padding-block: --spacing(4);
};

